<form action="/consultarSaldo" class="d-flex" method="post">
    <input type="email" name="email" placeholder="Consultar Saldo" class="form-control me-2">
    <button class="btn btn-outline-dark" type="submit">Consultar Saldo</button>
</form>